<h1 class="titulo">Software Engineer</h1>
<style>
    .titulo {
        color: rgb(119, 119, 133);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: 50px;
    }   
</style>
<p>Passionate about building scalable web applications.</p>
<p>In my free time, I enjoy hitting the gym, goind outside, and exploring new tech trends.</p>
<hr>
